body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#videoContainer {
    position: relative;
    width: 100%;
    max-width: 640px;
    height: auto;
}

#video {
    width: 100%;
    height: auto;
}
