body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#videoContainer {
    position: relative;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}
